{% extends "_base.html" %}

{% block header %}
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand">CAE Accesible</a>
            <a class="btn btn-info rounded-circle p-1" data-bs-toggle="modal" data-bs-target="#infoModal">
                <img src="{{ url_for('static', filename='info-circle-fill.svg') }}" 
                        alt="Información" style="width: 20px; height: 20px; filter: brightness(0) invert(1);">
            </a>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/usuarios">Inicio</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                <span class="my-auto">Volver a:</span>
                <a href="{{ url_for(
                    'uc_titulares.titulares', 
                    usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                    usuario_rol_gestor_id=usuario_rol_gestor_id,
                    gestor_id=gestor_id,
                    titular_id=titular_id) }}" 
                    class="btn btn-outline-primary">
                    Titulares</a>
                <div class="btn-group" role="group" aria-label="Navegación entre elementos de usuario">
                    <a href="{{ url_for(
                        'uc_usuarios_titulares.usuarios_titulares',
                        usuario_rol_cogestor_id=usuario_rol_cogestor_id,
                        usuario_rol_gestor_id=usuario_rol_gestor_id,
                        gestor_id=gestor_id,
                        titular_id=titular_id) }}" 
                        class="btn btn-secondary">
                        Usuarios</a>
                    <a href="" 
                        class="btn btn-secondary">
                        Centros</a>
                    <a href="" 
                        class="btn btn-secondary">
                        Contratas</a>
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-dark">Cerrar sesión</a>
            </div>
                
        </div>
    </nav>
{% endblock %}

{% block main %}

    <!-- Modal de Información -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="infoModalLabel">Información/Ayuda</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>...</p>
                    <hr>
                    <p>...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
