{% extends "_base.html" %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow bg-dark text-white" style="min-width: 500px;">
            <div class="card-body">
                <h4 class="card-title text-center">Crear nuevo CENTRO</h4>
                <div class="card-body">
                    <form action="{{ url_for('uc_centros.centros_crear', 
                        usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                        usuario_rol_gestor_id=usuario_rol_gestor_id, 
                        gestor_id=gestor_id, 
                        titular_id=titular_id) }}" 
                        method="post">
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="nombre_centro" 
                                   name="nombre_centro" 
                                   value="{{ datos_formulario.nombre_centro if datos_formulario else '' }}"
                                   required>
                            <label for="nombre_centro">Nombre del Centro:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="domicilio" 
                                   name="domicilio" 
                                   value="{{ datos_formulario.domicilio if datos_formulario else '' }}"
                                   required>
                            <label for="domicilio">Domicilio:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="codigo_postal" 
                                   name="codigo_postal" 
                                   value="{{ datos_formulario.codigo_postal if datos_formulario else '' }}"
                                   required>
                            <label for="codigo_postal">Código Postal:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="poblacion" 
                                   name="poblacion" 
                                   value="{{ datos_formulario.poblacion if datos_formulario else '' }}"
                                   required>
                            <label for="poblacion">Población:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="provincia" 
                                   name="provincia" 
                                   value="{{ datos_formulario.provincia if datos_formulario else '' }}"
                                   required>
                            <label for="provincia">Provincia:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="telefono_centro" 
                                   name="telefono_centro" 
                                   value="{{ datos_formulario.telefono_centro if datos_formulario else '' }}"
                                   required>
                            <label for="telefono_centro">Teléfono:</label>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <a href="{{ url_for('uc_centros.centros', 
                                usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                                usuario_rol_gestor_id=usuario_rol_gestor_id, 
                                gestor_id=gestor_id, 
                                titular_id=titular_id) }}" 
                                class="btn btn-secondary">
                                Cancelar</a>
                            <button type="submit" class="btn btn-success">
                                Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
