{% extends "_base.html" %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow bg-dark text-white" style="min-width: 500px;">
            <div class="card-body">
                <h4 class="card-title text-center">Actualizar USUARIO de CENTRO</h4>
                <div class="card-body">
                    <form action="{{ url_for(
                                    'ug_usuarios_centros.usuarios_centros_actualizar', 
                                    gestor_id=gestor_id, 
                                    titular_id=titular._id, 
                                    centro_id=centro_id, 
                                    usuario_centro_id=usuario_centro_id) }}" 
                                    method="post">
                        <div class="form-floating mb-3">
                            <input type="text" 
                                class="form-control" 
                                id="alias" 
                                name="alias" 
                                value="{{ usuario_centro.centro_info.alias }}"
                                required>
                            <label for="alias">Alias:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                class="form-control" 
                                id="email" 
                                value="{{ usuario_centro.email }}"
                                readonly>
                            <label for="email">Email:</label>
                            <div class="form-text text-light">
                                El email no puede ser modificado ya que es el identificador de acceso del usuario de centro.
                            </div>
                        </div>
                        <div class="btn-group text-center w-100 mb-3" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" 
                                class="btn-check" 
                                name="estado_usuario_centro" 
                                id="estado-activo{{ usuario_centro_id }}" 
                                value="activo" 
                                {% if usuario_centro.centro_info.estado_usuario_centro == 'activo' %}checked{% endif %}>
                            <label class="btn btn-outline-success" for="estado-activo{{ usuario_centro_id }}">Activo</label> 
                            
                            <input type="radio" 
                                class="btn-check" 
                                name="estado_usuario_centro" 
                                id="estado-inactivo{{ usuario_centro_id }}" 
                                value="inactivo"
                                {% if usuario_centro.centro_info.estado_usuario_centro == 'inactivo' %}checked{% endif %}>
                            <label class="btn btn-outline-secondary" for="estado-inactivo{{ usuario_centro_id }}">Inactivo</label>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <a href="{{ url_for(
                                        'ug_usuarios_centros.usuarios_centros', 
                                        gestor_id=gestor_id, 
                                        titular_id=titular._id, 
                                        centro_id=centro_id) }}" 
                                        class="btn btn-secondary">
                                        Cancelar</a>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
