{% extends "_base.html" %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow bg-dark text-white" style="min-width: 500px;">
            <div class="card-body">
                <h4 class="card-title text-center">Actualizar COGESTOR</h4>
                <div class="card-body">
                    <form action="{{ url_for('gestores.gestores_usuarios_cogestores_actualizar', gestor_id=gestor_id|string, cogestor_id=cogestor._id) }}" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="alias" 
                                   name="alias" 
                                   value="{{ cogestor.cogestor_info.alias }}"
                                   required>
                            <label for="alias">Alias:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="email" 
                                   value="{{ cogestor.email }}"
                                   readonly>
                            <label for="email">Email:</label>
                            <div class="form-text text-light">
                                El email no puede ser modificado ya que es el identificador de acceso del cogestor.
                            </div>
                        </div>
                        <div class="btn-group text-center w-100 mb-3" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" 
                                   class="btn-check" 
                                   name="estado" 
                                   id="estado-activo{{ cogestor._id }}" 
                                   value="activo" 
                                   {% if cogestor.cogestor_info.estado_usuario_cogestor == 'activo' %}checked{% endif %}>
                            <label class="btn btn-outline-success" for="estado-activo{{ cogestor._id }}">Activo</label> 
                            
                            <input type="radio" 
                                   class="btn-check" 
                                   name="estado" 
                                   id="estado-inactivo{{ cogestor._id }}" 
                                   value="inactivo"
                                   {% if cogestor.cogestor_info.estado_usuario_cogestor == 'inactivo' %}checked{% endif %}>
                            <label class="btn btn-outline-secondary" for="estado-inactivo{{ cogestor._id }}">Inactivo</label>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <a href="{{ url_for('gestores.gestores_usuarios_cogestores', gestor_id=gestor_id|string) }}" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
