{% extends "_base.html" %}

{% block header %}

    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">CAE Accesible. Panel de gestión de cogestores de: {{ nombre_gestor }}</a>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/usuarios">Inicio</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                <span class="my-auto">Ir a usuario:</span>
                <a href="{{ url_for('gestores.gestores') }}" class="btn btn-outline-primary">Gestor</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-dark">Cerrar sesión</a>
            </div>
                
        </div>
    </nav>
{% endblock %}

{% block main %}
    {% if mensaje_ok %}
        <div class="alert alert-success alert-dismissible fade show mt-3 text-center" role="alert">
            {{ mensaje_ok }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if mensaje_error %}
        <div class="alert alert-danger alert-dismissible fade show mt-3 text-center" role="alert">
            {{ mensaje_error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="container mt-5">
        <h3 class="text-center">Listado de COGESTORES </h3>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <!-- Formulario para filtrar cogestores -->
            <form action="{{ url_for('gestores.gestores_usuarios_cogestores') }}" method="post" id="filtroForm" class="flex-grow-1 me-3">
                <div class="d-flex gap-3 align-items-center">
                    <!-- Input para filtrar cogestor por nombre -->
                    <div class="form-floating" style="flex: 2;">
                        <input type="text" 
                            class="form-control" 
                            id="filtrar_cogestor" 
                            name="filtrar_cogestor"
                            value="{{ filtrar_cogestor }}"
                            oninput="this.form.submit()"
                            autocomplete="off"
                            autofocus
                            onfocus="this.setSelectionRange(this.value.length, this.value.length)">
                        <label for="filtrar_cogestor">Escriba el nombre, alias, teléfono o email para filtrar</label>
                    </div>
                    
                    <!-- Filtro por estado -->
                    <div class="btn-group" role="group" aria-label="Filtrar por estado" style="flex: 2;">
                        <input type="radio" 
                        class="btn-check" 
                        name="filtrar_estado" 
                        id="todos" 
                                value="todos" 
                                {% if not filtrar_estado or filtrar_estado == 'todos' %}checked{% endif %}
                                onchange="this.form.submit()">
                                <label class="btn btn-outline-primary" for="todos">Todos</label>
        
                        <input type="radio" 
                                class="btn-check" 
                                name="filtrar_estado" 
                                id="activos" 
                                value="activo"
                                {% if filtrar_estado == 'activo' %}checked{% endif %}
                                onchange="this.form.submit()">
                        <label class="btn btn-outline-success" for="activos">Activos</label>
        
                        <input type="radio" 
                            class="btn-check" 
                            name="filtrar_estado" 
                            id="inactivos" 
                            value="inactivo"
                            {% if filtrar_estado == 'inactivo' %}checked{% endif %}
                            onchange="this.form.submit()">
                        <label class="btn btn-outline-secondary" for="inactivos">Inactivos</label>
                    </div>
                    <!-- Boton para limpiar filtro -->
                    <div style="flex: 1;">
                        <a href="{{ url_for('gestores.gestores_usuarios_cogestores', vaciar=1) }}" class="btn btn-secondary">Limpiar filtros</a>
                    </div>
                </div>
            </form>
            <!-- Botón crear -->
            <a href="{{ url_for('gestores.gestores_usuarios_cogestores_crear') }}" class="btn btn-success">Crear</a>
        </div>

        <!-- Tabla de cogestores -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th>Alias</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>EMail</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cogestores %}
                        {% for cogestor in cogestores %}
                            <tr>
                                <td>{{ cogestor.cogestor_info.alias }}</td>
                                <td>{{ cogestor.nombre_usuario }}</td>
                                <td>{{ cogestor.telefono }}</td>
                                <td>{{ cogestor.email }}</td>
                                <td class="text-center">
                                    {% if cogestor.cogestor_info.estado == 'activo' %}
                                        <span class="badge bg-success">Activo</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ url_for('gestores.gestores_usuarios_cogestores_actualizar', cogestor_id=cogestor._id) }}" 
                                       class="btn btn-primary btn-sm">Editar</a>
                                    <button type="button" 
                                            class="btn btn-danger btn-sm" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#confirmarEliminar{{ cogestor._id }}">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal de confirmación para eliminar cogestor-->
                            <div class="modal fade" id="confirmarEliminar{{ cogestor._id }}" tabindex="-1" aria-labelledby="confirmarEliminarLabel{{ cogestor._id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-dark text-white">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger text-center w-100" id="confirmarEliminarLabel{{ cogestor._id }}">Confirmar eliminación</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar al cogestor "{{ cogestor.cogestor_info.alias }}"?
                                            <br>
                                            <strong>Nombre:</strong> {{ cogestor.nombre_usuario }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{{ url_for('gestores.gestores_usuarios_cogestores_eliminar', cogestor_id=cogestor._id) }}" 
                                               class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">No hay cogestores registrados</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}