{% extends "_base.html" %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow bg-dark text-white" style="min-width: 500px;">
            <div class="card-body">
                <h4 class="card-title text-center">Actualizar Usuario Titular</h4>
                <div class="card-body">
                    <form action="{{ url_for('gestores.gestores_usuarios_titulares_actualizar', titular_id=usuario_titular._id) }}" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="alias" 
                                   name="alias" 
                                   value="{{ usuario_titular.alias_usuario_titular }}"
                                   required>
                            <label for="alias">Alias:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" 
                                   class="form-control" 
                                   id="email" 
                                   value="{{ usuario_info.email }}"
                                   disabled>
                            <label for="email">Email:</label>
                        </div>
                        <div class="btn-group text-center w-100 mb-3" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="estado" id="estado-activo" value="activo" {% if usuario_titular.estado_usuario_titular == 'activo' %}checked{% endif %}>
                            <label class="btn btn-outline-success" for="estado-activo">Activo</label> 
                            <input type="radio" class="btn-check" name="estado" id="estado-inactivo" value="inactivo" {% if usuario_titular.estado_usuario_titular == 'inactivo' %}checked{% endif %}>
                            <label class="btn btn-outline-secondary" for="estado-inactivo">Inactivo</label>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <a href="{{ url_for('gestores.gestores_titulares', titular_id=titular._id) }}" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
