{% extends "_base.html" %}

{% block header %}
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand">CAE Accesible</a>
            <a class="btn btn-info rounded-circle p-1" data-bs-toggle="modal" data-bs-target="#infoModal">
                <img src="{{ url_for('static', filename='info-circle-fill.svg') }}" 
                        alt="Información" style="width: 20px; height: 20px; filter: brightness(0) invert(1);">
            </a>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/usuarios">Inicio</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                <span class="my-auto">Volver a:</span>
                <a href="{{ url_for(
                    'uc_centros.centros_centro', 
                    usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                    usuario_rol_gestor_id=usuario_rol_gestor_id,
                    gestor_id=gestor_id,
                    titular_id=titular_id,
                    centro_id=centro_id) }}" 
                    class="btn btn-outline-primary">
                    Centro</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-dark">Cerrar sesión</a>
            </div>
                
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h3 class="text-center">Listado de USUARIOS del centro: {{ nombre_centro }}</h3>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <!-- Formulario para filtrar usuarios titulares -->
            <form action="" 
                method="post" id="filtroForm" class="flex-grow-1 me-3">
                <div class="d-flex gap-3 align-items-center">
                    <!-- Input para filtrar usuario titular -->
                    <div class="form-floating" style="flex: 2;">
                        <input type="text" 
                            class="form-control" 
                            id="filtrar_usuario_centro" 
                            name="filtrar_usuario_centro"
                            value="{{ request.form.get('filtrar_usuario_centro', '') }}"
                            oninput="this.form.submit()"
                            autocomplete="off"
                            autofocus
                            onfocus="this.setSelectionRange(this.value.length, this.value.length)">
                            <label for="filtrar_usuario_centro">
                            Escriba el alias, email o nombre de usuario para filtrar</label>
                    </div>
                    
                    <!-- Filtro por estado -->
                    <div class="btn-group" role="group" aria-label="Filtrar por estado" style="flex: 2;">
                        <input type="radio" 
                            class="btn-check" 
                            name="filtrar_estado" 
                            id="todos" 
                            value="todos" 
                            {% if not filtrar_estado or filtrar_estado == 'todos' %}checked{% endif %}
                            onchange="this.form.submit()">
                            <label class="btn btn-outline-primary" for="todos">Todos</label>
        
                        <input type="radio" 
                            class="btn-check" 
                            name="filtrar_estado" 
                            id="activos" 
                            value="activo"
                            {% if request.form.get('filtrar_estado') == 'activo' %}checked{% endif %}
                            onchange="this.form.submit()">
                            <label class="btn btn-outline-success" for="activos">
                            Activos</label>
        
                        <input type="radio" 
                            class="btn-check" 
                            name="filtrar_estado" 
                            id="inactivos" 
                            value="inactivo"
                            {% if request.form.get('filtrar_estado') == 'inactivo' %}checked{% endif %}
                            onchange="this.form.submit()">
                            <label class="btn btn-outline-secondary" for="inactivos">
                            Inactivos</label>
                    </div>
                    <!-- Boton para limpiar filtro -->
                    <div style="flex: 1;">
                        <a href="" 
                            class="btn btn-secondary">
                            Limpiar filtros</a>
                    </div>
                </div>
            </form>
            <!-- Botón crear -->
            <a href="{{ url_for('uc_usuarios_centros.usuarios_centros_crear', 
                                usuario_rol_cogestor_id=usuario_rol_cogestor_id,
                                usuario_rol_gestor_id=usuario_rol_gestor_id,
                                gestor_id=gestor_id,
                                titular_id=titular_id,
                                centro_id=centro_id) }}" 
                class="btn btn-success">
                Crear</a>
        </div>

        <!-- Tabla de usuarios centros -->
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th>Alias</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if usuarios_centros %}
                        {% for usuario_centro in usuarios_centros %}
                            <tr>
                                <td>{{ usuario_centro.centro_info.alias }}</td>
                                <td>{{ usuario_centro.email }}</td>
                                <td>{{ usuario_centro.nombre_usuario }}</td>
                                <td class="text-center">
                                    {% if usuario_centro.centro_info.estado_usuario_centro == 'activo' %}
                                        <span class="badge bg-success">Activo</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{{ url_for('uc_usuarios_centros.usuarios_centros_actualizar', 
                                        usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                                        usuario_rol_gestor_id=usuario_rol_gestor_id, 
                                        gestor_id=gestor_id, 
                                        titular_id=titular_id, 
                                        centro_id=centro_id, 
                                        usuario_centro_id=usuario_centro._id) }}" 
                                        class="btn btn-primary btn-sm">
                                        Editar</a>
                                    <button type="button" 
                                        class="btn btn-danger btn-sm" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmarEliminar{{ usuario_centro._id }}">
                                        Eliminar</button>
                                </td>
                            </tr>
                            <!-- Modal de confirmación para eliminar usuario titular-->
                            <div class="modal fade" id="confirmarEliminar{{ usuario_centro._id }}" 
                                tabindex="-1" aria-labelledby="confirmarEliminarLabel{{ usuario_centro._id }}" 
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-dark text-white">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger text-center w-100" 
                                                id="confirmarEliminarLabel{{ usuario_centro._id }}">
                                                Confirmar eliminación</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar al usuario centro "{{ usuario_centro.centro_info.alias }}"?
                                            <br>
                                            <strong>Email:</strong> {{ usuario_centro.email }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{{ url_for('uc_usuarios_centros.usuarios_centros_eliminar', 
                                                usuario_rol_cogestor_id=usuario_rol_cogestor_id, 
                                                usuario_rol_gestor_id=usuario_rol_gestor_id, 
                                                gestor_id=gestor_id, 
                                                titular_id=titular_id, 
                                                centro_id=centro_id, 
                                                usuario_centro_id=usuario_centro._id) }}" 
                                                class="btn btn-danger">
                                                Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No hay usuarios de centros registrados</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal de Información -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="infoModalLabel">Información/Ayuda</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>...</p>
                    <hr>
                    <p>...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

