<h2>Bienvenido a CAE Accesible, {{ nombre_usuario }}</h2>
<p>Se dará de alta como usuario para el gestor {{ nombre_gestor }},<br>
podrá dar de alta a otros usuarios para el gestor {{ nombre_gestor }},<br>
tambien podrá dar de alta a otros co-gestores para que le ayuden, tendrán unos permisos inferiores al suyo.<br>
Además podrá crear a titulares de los centros de trabajo y a sus contratas.</p>
<p>Gracias por registrarte. Para completar tu registro, por favor, haz clic en el siguiente enlace:</p>
<p><a href="{{ link_verificacion }}">Activar mi cuenta</a></p>
<p>Este enlace expirará en 1 hora.</p> 