{% extends "_base.html" %}

{% block main %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow bg-dark text-white">
        <div class="card-body">
            <h4 class="card-title text-center">Iniciar sesión</h4>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="email" name="email" required>
                        <label for="floatingInput">Usuario (email)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-2">
                        <a href="{{ url_for('index') }}" type="button" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}