{% extends "_base.html" %}

{% block main %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow bg-dark text-white">
        <div class="card-body">
            <h4 class="card-title text-center">Recuperar Contraseña</h4>
            <div class="card-body">
                <form action="{{ url_for('recuperar_password') }}" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-2">
                        <a href="{{ url_for('login') }}" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 